In [6]:
import zipfile, re, time
import psycopg2 as p
import psycopg2.extras as e

In [7]:
start_time = time.time()

In [8]:
password = 'Evergreen1'

conn = p.connect(database = 'postgres', user = 'postgres', password = password, 
                       host = 'localhost', port = 5433)

cur = conn.cursor()

In [9]:
cur.execute("""
truncate public.mcmis
""")
conn.commit()

In [10]:
cur.execute("""
CREATE TABLE public.mcmis_temp
(
    act_stat character varying(1) COLLATE pg_catalog."default",
    carship character varying(4) COLLATE pg_catalog."default",
    census_num integer,
    name character varying(120) COLLATE pg_catalog."default",
    name_dba character varying(120) COLLATE pg_catalog."default",
    dbnum character varying(9) COLLATE pg_catalog."default",
    phy_natn character varying(2) COLLATE pg_catalog."default",
    reg character varying(2) COLLATE pg_catalog."default",
    phy_str character varying(50) COLLATE pg_catalog."default",
    phy_city character varying(25) COLLATE pg_catalog."default",
    phy_cnty smallint,
    phy_st character varying(2) COLLATE pg_catalog."default",
    phy_zip character varying(10) COLLATE pg_catalog."default",
    undeliv_phy character varying(1) COLLATE pg_catalog."default",
    tel_num character varying(13) COLLATE pg_catalog."default",
    cell_num character varying(13) COLLATE pg_catalog."default",
    fax_num character varying(13) COLLATE pg_catalog."default",
    mai_natn character varying(2) COLLATE pg_catalog."default",
    mai_str character varying(50) COLLATE pg_catalog."default",
    mai_city character varying(25) COLLATE pg_catalog."default",
    mai_cnty smallint,
    mai_st character varying(2) COLLATE pg_catalog."default",
    mai_zip character varying(10) COLLATE pg_catalog."default",
    undeliv_mai character varying(1) COLLATE pg_catalog."default",
    oic smallint,
    terr character varying(2) COLLATE pg_catalog."default",
    iccdocket1 character varying(2) COLLATE pg_catalog."default",
    icc1 integer,
    iccdocket2 character varying(2) COLLATE pg_catalog."default",
    icc2 integer,
    iccdocket3 character varying(2) COLLATE pg_catalog."default",
    icc3 integer,
    class character varying(12) COLLATE pg_catalog."default",
    classdef character varying(100) COLLATE pg_catalog."default",
    crrinter character varying(1) COLLATE pg_catalog."default",
    crrhmintra character varying(1) COLLATE pg_catalog."default",
    crrintra character varying(1) COLLATE pg_catalog."default",
    shpinter character varying(1) COLLATE pg_catalog."default",
    shpintra character varying(1) COLLATE pg_catalog."default",
    vehicleregistrant character varying(1) COLLATE pg_catalog."default",
    org character varying(1) COLLATE pg_catalog."default",
    genfreight character varying(1) COLLATE pg_catalog."default",
    household character varying(1) COLLATE pg_catalog."default",
    metalsheet character varying(1) COLLATE pg_catalog."default",
    motorveh character varying(1) COLLATE pg_catalog."default",
    drivetow character varying(1) COLLATE pg_catalog."default",
    logpole character varying(1) COLLATE pg_catalog."default",
    bldgmat character varying(1) COLLATE pg_catalog."default",
    mobilehome character varying(1) COLLATE pg_catalog."default",
    machlrg character varying(1) COLLATE pg_catalog."default",
    produce character varying(1) COLLATE pg_catalog."default",
    oilfield character varying(1) COLLATE pg_catalog."default",
    liqgas character varying(1) COLLATE pg_catalog."default",
    intermodal character varying(1) COLLATE pg_catalog."default",
    passengers character varying(1) COLLATE pg_catalog."default",
    livestock character varying(1) COLLATE pg_catalog."default",
    grainfeed character varying(1) COLLATE pg_catalog."default",
    coalcoke character varying(1) COLLATE pg_catalog."default",
    meat character varying(1) COLLATE pg_catalog."default",
    garbage character varying(1) COLLATE pg_catalog."default",
    usmail character varying(1) COLLATE pg_catalog."default",
    chem character varying(1) COLLATE pg_catalog."default",
    drybulk character varying(1) COLLATE pg_catalog."default",
    coldfood character varying(1) COLLATE pg_catalog."default",
    beverages character varying(1) COLLATE pg_catalog."default",
    paperprod character varying(1) COLLATE pg_catalog."default",
    utility character varying(1) COLLATE pg_catalog."default",
    farmsupp character varying(1) COLLATE pg_catalog."default",
    construct character varying(1) COLLATE pg_catalog."default",
    waterwell character varying(1) COLLATE pg_catalog."default",
    cargoothr character varying(1) COLLATE pg_catalog."default",
    othercargo character varying(50) COLLATE pg_catalog."default",
    hm_ind character varying(1) COLLATE pg_catalog."default",
    owntruck integer,
    owntract integer,
    owntrail integer,
    owncoach integer,
    ownschool_1_8 integer,
    ownschool_9_15 integer,
    ownschool_16 integer,
    ownbus_16 integer,
    ownvan_1_8 integer,
    ownvan_9_15 integer,
    ownlimo_1_8 integer,
    ownlimo_9_15 integer,
    ownlimo_16 integer,
    trmtruck integer,
    trmtract integer,
    trmtrail integer,
    trmcoach integer,
    trmschool_1_8 integer,
    trmschool_9_15 integer,
    trmschool_16 integer,
    trmbus_16 integer,
    trmvan_1_8 integer,
    trmvan_9_15 integer,
    trmlimo_1_8 integer,
    trmlimo_9_15 integer,
    trmlimo_16 integer,
    trptruck integer,
    trptract integer,
    trptrail integer,
    trpcoach integer,
    trpschool_1_8 integer,
    trpschool_9_15 integer,
    trpschool_16 integer,
    trpbus_16 integer,
    trpvan_1_8 integer,
    trpvan_9_15 integer,
    trplimo_1_8 integer,
    trplimo_9_15 integer,
    trplimo_16 integer,
    tot_trucks integer,
    tot_buses integer,
    tot_pwr integer,
    fleetsize character varying(1) COLLATE pg_catalog."default",
    interlt100 integer,
    intergt100 integer,
    inter_drs integer,
    intralt100 integer,
    intragt100 integer,
    intra_drs integer,
    avg_tld integer,
    tot_drs integer,
    cdl_drs integer,
    revtype character varying(1) COLLATE pg_catalog."default",
    revdocnum integer,
    revdate date,
    acc_rate numeric,
    repprevrat numeric,
    mlg150 bigint,
    miletot bigint,
    rating character varying(1) COLLATE pg_catalog."default",
    ratedate date,
    phy_barrio character varying(100) COLLATE pg_catalog."default",
    mai_barrio character varying(100) COLLATE pg_catalog."default",
    mcsipstep smallint,
    mcsipdate date,
    userid character varying(30) COLLATE pg_catalog."default",
    addcode character varying(3) COLLATE pg_catalog."default",
    upd_reas character varying(3) COLLATE pg_catalog."default",
    delcode character varying(3) COLLATE pg_catalog."default",
    mcs150mileageyear smallint,
    adddate date,
    chngdate date,
    deldate date,
    tot_cars bigint,
    version character varying(6) COLLATE pg_catalog."default",
    createdate date,
    adduserid character varying(30) COLLATE pg_catalog."default",
    deluserid character varying(30) COLLATE pg_catalog."default",
    mcs150_date date,
    rec_updated_flag character varying(1) COLLATE pg_catalog."default",
    email_address character varying(80) COLLATE pg_catalog."default",
    usdot_revoked_flag character varying(1) COLLATE pg_catalog."default",
    usdot_revoked_number integer,
    company_rep1 varchar,
    company_rep2 varchar
)


""")

In [11]:
with open(r'C:\Users\YoungW\OneDrive - Informa plc\Documents\CENSUS_PUB_20191209\CENSUS_PUB_20191209.txt', 'r') as f:
    cur.copy_from(f, 'public.mcmis_temp', sep = '~', null = '', columns = ["""act_stat, carship, census_num, name, name_dba, dbnum, phy_natn, 
    reg, phy_str, phy_city, phy_cnty, phy_st, phy_zip, undeliv_phy, tel_num, 
    cell_num, fax_num, mai_natn, mai_str, mai_city, mai_cnty, mai_st, mai_zip, 
    undeliv_mai, oic, terr, iccdocket1, icc1, iccdocket2, icc2, iccdocket3, icc3, 
    class, classdef, crrinter, crrhmintra, crrintra, shpinter, shpintra, 
    vehicleregistrant, org, genfreight, household, metalsheet, motorveh, drivetow, 
    logpole, bldgmat, mobilehome, machlrg, produce, liqgas, intermodal, passengers, 
    oilfield, livestock, grainfeed, coalcoke, meat, garbage, usmail, chem, drybulk, 
    coldfood, beverages, paperprod, utility, farmsupp, construct, waterwell, 
    cargoothr, othercargo, hm_ind, owntruck, owntract, owntrail, owncoach, ownschool_1_8,
     ownschool_9_15, ownschool_16, ownbus_16, ownvan_1_8, ownvan_9_15, ownlimo_1_8, 
    ownlimo_9_15, ownlimo_16, trmtruck, trmtract, trmtrail, trmcoach, trmschool_1_8,
     trmschool_9_15, trmschool_16, trmbus_16, trmvan_1_8, trmvan_9_15, trmlimo_1_8,
     trmlimo_9_15, trmlimo_16, trptruck, trptract, trptrail, trpcoach, trpschool_1_8,
     trpschool_9_15, trpschool_16, trpbus_16, trpvan_1_8, trpvan_9_15, trplimo_1_8,
     trplimo_9_15, trplimo_16, tot_trucks, tot_buses, tot_pwr, fleetsize, interlt100,
     intergt100, inter_drs, intralt100, intragt100, intra_drs, avg_tld, tot_drs,
     cdl_drs, revtype, revdocnum, revdate, acc_rate, repprevrat, mlg150, miletot,
     rating, ratedate, phy_barrio, mai_barrio, mcsipstep, mcsipdate, userid, addcode,
     upd_reas, delcode, mcs150mileageyear, adddate, chngdate, deldate, tot_cars,
     version, createdate, adduserid, deluserid, mcs150_date, rec_updated_flag,
     email_address, usdot_revoked_flag, usdot_revoked_number, company_rep1, company_rep2"""])
    conn.commit()

In [12]:
# This query inserts all information into the real mcmis table but truncates company_rep1/company_rep2 to 70
# Once the new information has been input then the temp table gets dropped

cur.execute("""
insert into public.mcmis (act_stat, carship, census_num, name, name_dba, dbnum, phy_natn, 
    reg, phy_str, phy_city, phy_cnty, phy_st, phy_zip, undeliv_phy, tel_num, 
    cell_num, fax_num, mai_natn, mai_str, mai_city, mai_cnty, mai_st, mai_zip, 
    undeliv_mai, oic, terr, iccdocket1, icc1, iccdocket2, icc2, iccdocket3, icc3, 
    class, classdef, crrinter, crrhmintra, crrintra, shpinter, shpintra, 
    vehicleregistrant, org, genfreight, household, metalsheet, motorveh, drivetow, 
    logpole, bldgmat, mobilehome, machlrg, produce, liqgas, intermodal, passengers, 
    oilfield, livestock, grainfeed, coalcoke, meat, garbage, usmail, chem, drybulk, 
    coldfood, beverages, paperprod, utility, farmsupp, construct, waterwell, 
    cargoothr, othercargo, hm_ind, owntruck, owntract, owntrail, owncoach, ownschool_1_8,
     ownschool_9_15, ownschool_16, ownbus_16, ownvan_1_8, ownvan_9_15, ownlimo_1_8, 
    ownlimo_9_15, ownlimo_16, trmtruck, trmtract, trmtrail, trmcoach, trmschool_1_8,
     trmschool_9_15, trmschool_16, trmbus_16, trmvan_1_8, trmvan_9_15, trmlimo_1_8,
     trmlimo_9_15, trmlimo_16, trptruck, trptract, trptrail, trpcoach, trpschool_1_8,
     trpschool_9_15, trpschool_16, trpbus_16, trpvan_1_8, trpvan_9_15, trplimo_1_8,
     trplimo_9_15, trplimo_16, tot_trucks, tot_buses, tot_pwr, fleetsize, interlt100,
     intergt100, inter_drs, intralt100, intragt100, intra_drs, avg_tld, tot_drs,
     cdl_drs, revtype, revdocnum, revdate, acc_rate, repprevrat, mlg150, miletot,
     rating, ratedate, phy_barrio, mai_barrio, mcsipstep, mcsipdate, userid, addcode,
     upd_reas, delcode, mcs150mileageyear, adddate, chngdate, deldate, tot_cars,
     version, createdate, adduserid, deluserid, mcs150_date, rec_updated_flag,
     email_address, usdot_revoked_flag, usdot_revoked_number, company_rep1, company_rep2)
     
select act_stat, carship, census_num, name, name_dba, dbnum, phy_natn, 
    reg, phy_str, phy_city, phy_cnty, phy_st, phy_zip, undeliv_phy, tel_num, 
    cell_num, fax_num, mai_natn, mai_str, mai_city, mai_cnty, mai_st, mai_zip, 
    undeliv_mai, oic, terr, iccdocket1, icc1, iccdocket2, icc2, iccdocket3, icc3, 
    class, classdef, crrinter, crrhmintra, crrintra, shpinter, shpintra, 
    vehicleregistrant, org, genfreight, household, metalsheet, motorveh, drivetow, 
    logpole, bldgmat, mobilehome, machlrg, produce, liqgas, intermodal, passengers, 
    oilfield, livestock, grainfeed, coalcoke, meat, garbage, usmail, chem, drybulk, 
    coldfood, beverages, paperprod, utility, farmsupp, construct, waterwell, 
    cargoothr, othercargo, hm_ind, owntruck, owntract, owntrail, owncoach, ownschool_1_8,
     ownschool_9_15, ownschool_16, ownbus_16, ownvan_1_8, ownvan_9_15, ownlimo_1_8, 
    ownlimo_9_15, ownlimo_16, trmtruck, trmtract, trmtrail, trmcoach, trmschool_1_8,
     trmschool_9_15, trmschool_16, trmbus_16, trmvan_1_8, trmvan_9_15, trmlimo_1_8,
     trmlimo_9_15, trmlimo_16, trptruck, trptract, trptrail, trpcoach, trpschool_1_8,
     trpschool_9_15, trpschool_16, trpbus_16, trpvan_1_8, trpvan_9_15, trplimo_1_8,
     trplimo_9_15, trplimo_16, tot_trucks, tot_buses, tot_pwr, fleetsize, interlt100,
     intergt100, inter_drs, intralt100, intragt100, intra_drs, avg_tld, tot_drs,
     cdl_drs, revtype, revdocnum, revdate, acc_rate, repprevrat, mlg150, miletot,
     rating, ratedate, phy_barrio, mai_barrio, mcsipstep, mcsipdate, userid, addcode,
     upd_reas, delcode, mcs150mileageyear, adddate, chngdate, deldate, tot_cars,
     version, createdate, adduserid, deluserid, mcs150_date, rec_updated_flag,
     email_address, usdot_revoked_flag, usdot_revoked_number, left(company_rep1, 70), left(company_rep2, 70)
from public.mcmis_temp;

DROP TABLE public.mcmis_temp
""")
conn.commit()
conn.close()

In [13]:
end_time = time.time() - start_time

In [14]:
print(end_time)

82.94625544548035